{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Andromede Dev Blog{% endblock %}</title>
    </head>
<body>
  {% block pagecontent %}


	<div id="content-container">
	<h1>Andromede's Dev Blog</h1>

	<div id="blog-hm-preview"></div>
	
	<script>
	var doc = document.querySelector('link[rel="import"]').import;
	// grab DOM from doc.html's document.
	var text = doc.querySelector('#content');
	document.getElementById("blog-hm-preview").appendChild(text);
	</script>


	</div>
  {% endblock %}
</body>
</html>
