<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Andromede</title>
</head>

<body>
<h1>About</h1>
<p>Andromede is a huge data project that will hopefully be FUN!  More to come.</p>

</body>
</html>
