<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Andromede</title>
</head>

<body>
<h1>Help me?</h1>
<p>When the project is big enough, I'd like to implement a wiki.  For now, email me with any questions.</p>

</body>
</html>
