blinker==1.4
Django==2.0.5
django-admin-tools==0.8.1
docutils==0.14
feedgenerator==1.9
gunicorn==19.8.1
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
pelican==3.7.1
pkg-resources==0.0.0
psycopg2==2.7.4
psycopg2-binary==2.7.4
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.4
six==1.11.0
smartypants==2.0.1
typogrify==2.0.7
Unidecode==1.0.22
