*{
	margin: 0;
	padding: 0;
}

html{
	background-color: rgb(12,30,63);
}

body{
	margin: 0;
}

/* logo canvas */

canvas{
    display: inline;
}

/*
#tlogo{
    background-color: #fff;
}
*/

h1{
    font-family: 'Titillium Web', monospace;
    font-weight: 600;
    color: rgb(19,61,40);
}

p{
    font-family: 'Lato', sans-serif;
}

.container{
	background-color: #eee;
}

.clearfix::after{ 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* NAVBAR CSS */

.nav{
	background-color: rgb(3,15,38);
	border-bottom: 1px solid #999;
    font-family: 'Titillium Web';
    font-weight: 300;
    height: 90px;
    overflow: hidden;
}

.nav ul {
	display: inline-block;
	list-style: none;
	overflow: hidden;
    float: right;
    margin-right: 1em;
    margin-top: .1em;
}

.nav li{

}

.nav li a{
	float: right;
	display: inline-block;
	text-align: center;
	text-decoration: none;
    font-size: 2em;
    font-weight: 600;
}

.nav li a:link{
    color: rgb(104,223,237);
}

.nav li a:visited{
    color: rgb(48,103,109);
}

.nav li a:hover{
    color: rgb(168,221,227);
}

.nav li a:active{
    color: rgb(82,175,186);
}

#content-container{
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	padding: 15px 10px 30px;
    min-height: 200px;
    color: rgb(7,13,6);
}

.footer-ceiling::before{
	content: '';
	position: absolute;
	width: 50%;
	left: 25%;
    border-bottom: 1px solid #777;
}

/* FOOTER CSS */
.footer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 4px;
    font-family: 'Titillium Web', monospace;
    font-weight: 300;
}

.footer-container ul{
    list-style: none;
}

.footer-container li{
    margin: 5px 10px;
}

.footer-container li a{
    padding: 2px 5px;
    text-decoration: none;
    font-weight: 600;
}

.footer-container li a:link {
    color: #373ba6;
}

.footer-container li a:visited {
    color: rgb(34,19,76);
}

.footer-container li a:hover {
    color: rgb(34,19,76);
}

.footer-container li a:active{
    color: #42b874;
}

.footer-l, .footer-c, .footer-r{
    flex: 1 1 auto;
    text-align: center;
}

