*{
	margin: 0;
	padding: 0;
}

html{
	background-color: #FAD7A0;
}

body{
	margin: 0;
}

.container{
	background-color: #eee;
}

.clearfix::after{ 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#content-container{
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	padding: 15px 10px 30px;

}

#content-container::after{
	content: '';
	position: absolute;
	width: 50%;
	left: 25%;
	margin-top: 18px;
	border-bottom: 1px solid #777;
}

