*{
	margin: 0;
	padding: 0;
}

html{
	background-color: rgb(12,30,63);
}

body{
	
}

.nav{
    margin-bottom: .5vh;
    height: 10vh;
    width: 100%;
}

/* logo canvas */

canvas{
    
}


/* landscape makes a diff menu */
@media only screen and (orientation: landscape){
    #nav-btn{
        
    }
}


/* 1-319 px wide */
@media only screen and (max-device-width: 320px) {
    .nav {

    }

    #mid-dropdown-nav{
        display: none;
    }

    #right-nav{
        font-size: 30px;
    }

    #content-container {
        width: 96%;
        margin-right: 2vw;
        margin-left: 2vw;
 
    }

    .footer-container li a{
        font-size: 3em;
    }

    #copyright{
        font-size: 2.5em;
    }
}

/* 320-459 px wide */
@media only screen and (min-device-width: 320px) {
    .nav {
    }


    #content-container{
        width: 96%;
        margin-right: 2vw;
        margin-left: 2vw;
 
    }

    .footer-container li a{
        font-size: 2.6em;
    }

    #copyright{
        font-size: 2em;
    }
}

/* 460-599 px wide */
@media only screen and (min-device-width: 460px) {
    .nav {
    
    }

    #content-container {
   }

    .footer-container li a{
        font-size: 2.3em;
    }

    #copyright{
        font-size: 1.7em;
    }
}

/* 600-767 px wide */
@media only screen and (min-device-width: 600px) {
    .nav {
        height: 9vh; 
    }
    
    #content-container {
        width: 96%;
    }

   
    .footer-container li a{
        font-size: 2em;
    }

    #copyright{
        font-size: 2em;
    }
}


/* 768-991 px wide */
@media only screen and (min-device-width: 768px) {
    .nav {
        height: 8vh; 
    }

    #content-container {
        width: 96%;
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-container li a{
        font-size: 1.75em;
    }

    #copyright{
        font-size: 1.5em;
    }
}

/* 992-1199 px wide */
@media only screen and (min-device-width: 992px) {
    .nav {
        height: 7vh;
    }

    #content-container {
        width: 900px;
    }


    .footer-container li a{
        font-size: 1.5em;
    }

    #copyright{
        font-size: 1.2em;
    }
}

/* 1200 and up */
@media only screen and (min-device-width: 1200px) {
    .nav {
        height: 6vh;
    }

    #content-container {
        width: 75%;
    }



    .footer-container li a{
        font-size: 1.2em;
    }

    #copyright{
        font-size: 1em;
    }
}


#tlogo{
}

h1{
    font-family: 'Titillium Web', monospace;
    font-weight: 600;
    color: rgb(19,61,40);
}

p{
    font-family: 'Lato', sans-serif;
}

.container{
	background-color: #eee;
}

.clearfix::after{ 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/* NAVBAR CSS */

.nav{
    background-color: rgb(3,15,38);
    font-family: 'Titillium Web';
    font-weight: 300;
    /*overflow: hidden;*/
    border-bottom: 1px solid black;
}



.nav ul {
	list-style: none;
}

.nav li{

}

#right-nav-list{
    float: right;
}

.nav li a:link{
    color: rgb(104,223,237);
}

.nav li a:visited{
    color: rgb(48,103,109);
}

.nav li a:hover{
    color: rgb(168,221,227);
}

.nav li a:active{
    color: rgb(82,175,186);
}


#content-container{
	margin-right: 2vw;
	margin-left: 2vw;
    min-height: 200px;
    color: rgb(7,13,6);
}


.footer-ceiling::before{
	content: '';
	position: absolute;
	width: 50%;
	left: 25%;
    border-bottom: 1px solid #777;
}

/* ROLL A D6 -> HERE'S THE DIE APP */

#dieapp {
  background: #ddd;
  border: 1px solid #222;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
  margin: 15px 0px 15px 0px;
}

.helpertxt{
  padding: 0px;
  font-family: monospace;
  font-size: 1.1em;
}

button{
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;

}
#roll-btn{
  font-size: 1.2em;
  border-radius: 2px;
  font-family: monospace;
  background-color: #cd4e37;
  border: 2px solid #cd4e37;
  color: white;
  text-align: center;
}

#roll-btn:hover{
  border: 2px solid #cd4e37;
  background-color: white;
  color: #cd4e37;
}

#die-res{
  margin: 5px;
}


/* FOOTER CSS */
.footer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 4px;
    font-family: 'Titillium Web', monospace;
    font-weight: 300;
}

.footer-container ul{
    list-style: none;
}

.footer-container li{
    margin: 5px 10px;
}

.footer-container li a{
    padding: 2px 5px;
    text-decoration: none;
    font-weight: 600;
}

.footer-container li a:link {
    color: #373ba6;
}

.footer-container li a:visited {
    color: rgb(34,19,76);
}

.footer-container li a:hover {
    color: rgb(34,19,76);
}

.footer-container li a:active{
    color: #42b874;
}

.footer-l, .footer-c, .footer-r{
    flex: 1 1 auto;

