/* NAVBAR CSS */

.nav{
	background: #ccc;
	border-bottom: 1px solid #999;
}

.nav #hm-lnk{
    font-size: 2em;
}

.nav ul {
	display: block;
	list-style: none;
	overflow: hidden;
}

.nav li{

}

.nav li a{
	float: right;
	display: inline-block;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
    font-size: 2em;
}


.nav li a:hover {
	background-color: yellow;
}

.nav #hm-lnk{
	float: left	!important;
}

/* FOOTER CSS */
.footer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 4px;
}

.footer-container ul{
    list-style: none;
}

.footer-container li{
    margin: 5px 10px;
}

.footer-container li a{
    padding: 2px 5px;
    text-decoration: none;
}

.footer-container li a:hover{
    text-decoration: underline overline;
}

.footer-l, .footer-c, .footer-r{
    flex: 1 1 auto;
    text-align: center;
}


