<!-- djangotemplates/example/templates/about.html -->

{% extends 'base.html' %} <!-- Add this for inheritance -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
<body>
  {% block pagecontent %}
  

	<div id="content-container">
        <h1>About Andromede</h1>
  <p>Andromede is a project about exploration. We just got started.</p>
    <p>FAQ: Why 'Andromede'? It's an alternate spelling of Andromeda. It is pronounced like the mythological figure's name.</p>
	</div>
  {% endblock %}
</body>
</html>
