<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Andromede</title>
</head>



<body>
<h1>Welcome to Androme.de!</h1>

<p>My favorite star is <%= @str %><%= Star.first.common_name %></p>

</body>
</html>
