<body>
<h1>Would you like to reroll ?</h1>
<p>This is a prototype tool for simulating the rolling of various kinds of polyhedral dice, such as may be used in role-playing games.</p>

<div class='container-fluid'>
<div class='row-fluid'>

	<input type='checkbox' name='ami_active' checked='checked'>
	<input type='text' id='num_d' size='4' maxlength='3' value=1>
	<span class='mono_txt'>d</span>
	<select id='type_d'>
		<option value='4'>4</option>
		<option value='6'>6</option>
		<option value='8'>8</option>
		<option value='10'>10</option>
		<option value='20'>20</option>
		<option value='100'>100</option>
	</select>
	<input type='text' name='roll_stats' class='mono_txt' value='(stats)' readonly>
	<span class='mono_txt'>drop the lowest roll?</span>	
	<input type='checkbox' name='ami_drop1'>
	<span class='mono_txt'>sum rolls?</span>	
	<input type='checkbox' name='ami_sum'>

</div> <!--end row fluid-->
</div> <!--end cont fluid-->

<div class='row-fluid'>
	<%= link_to "(add another row)", "#", data: { behavior: "test-js" }, id: "testbutton", class: "mono_txt" %>

	<%= link_to "roll", "#", data: {behavior: "roll-dice"}, id: "testbutton", class: "mono_txt" %>

	<%= link_to "clear", "#", data: {behavior: "clear-outp"}, id: "testbutton", class: "mono_txt" %>
</div>

<div class='row-fluid'>
<textarea id='roll_result_field' class='mono_txt' readonly>
Here, the results of your rolls will be displayed.
</textarea>
</div>


</body>
