@import "bootstrap-sprockets";
@import "bootstrap";

body {
	padding-top: 40px;
}

.mono_txt {
	font-family: "Courier New", Courier, monospace;
}

/* header-nav */

header {
	background-color: #888;
	height: 35px;
	line-height: 35px;
}

header ul {
	font-size: 1.2em;
}

header ul a{
	color: #9cf;
}

header ul li {
	color: #fff;
	display: inline-block;
	height: 35px;
	line-height: 35px;
}

/* footer */

#foot_cmmnt {
	background-color: #333;
	color: #ddd;
}


