// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* roll */


#roll_result_field {
	height: 400px;
	width: 600px;
}

#testbutton {
	background-color: #bbb;
	padding: 10px;
	margin: 10px;
}
