// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* home */

#home_console {
	height: 200px;
	width: 600px;
	background-color: #222;
	margin-left: 40px;
}

#home_input {
	height: 2.2em;
	width: 600px;
	background-color: #555;
	position: absolute;
	margin-left: 40px;
	margin-bottom: 20px;
}

#hm_disp_txt {
	color: #ff8533;
	font-variant: normal;
	font-size: 1.1em;
	font-weight: bold;
	position: absolute;
	width: 600px;
	height: 100px;
	border: none;
	background: rgba(255,0,0,0.2);
}

#hm_inp_txt {
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	top: 2px;
	left: 4px;
	font-size: 1.2em;
	font-weight: bold;
}

#user_inp {
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	width: 400px;
	left: 20px;
	top: 3px;
	border: none;
	background: rgba(0,255,0,0.2);
	font-size: 0.9em;
}

#computress {
	font-family: "Courier New", monospace;
	border: 1px dashed #000;
	width: 800px;
	height: 300px;
	position: relative;
}

#talkbutton {
	border: 1px solid #00f;
	border-radius: 2px;
	display: inline-block;
	position: absolute;
	right: 80px;
	top: 2px;
	padding: 2px 3px 2px 3px;
	margin: 0px 1px 0px 1px;
}

#clearbutton {
	border: 1px solid #00f;
	border-radius: 2px;
	display: inline-block;
	position: absolute;
	right: 45px;
	top: 2px;
	padding: 2px 10px 2px 10px;
	margin: 0px 1px 0px 1px;
}

#pwrbutton {
	border: 1px solid #00f;
	border-radius: 2px;
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 2px;
	padding: 2px 5px 2px 5px;
	margin: 0px 1px 0px 1px;
}



/* roll */


#roll_result_field {
	height: 400px;
	width: 650px;
}

#testbutton {
	background-color: #bbb;
	padding: 10px;
	margin: 10px;
}
