<header class="navbar navbar-fixed-top">
<div class="container">
<nav>
	<ul class="nav navbar-nav navbar-right">
		<% [["home", :root], ["and-db", :andb], ["dice-roller", :roll], ["about", :about], ["help", :help]].each do |name,url| %>
	  <li><%= link_to_unless_current(name, url) %></li>
		<% end %>
  </ul>
</nav>
</div>
</header>
